<head>
<link rel="stylesheet"  type="text/css" href="/stylesheets/signedin.css">
</head>

<% @assignments.each do |assignment|%>
    <p> <strong> <%= assignment.course_name %> </strong> - <%=assignment.assignment_name%> </p>
    <%end%>