<head>
<link rel="stylesheet"  type="text/css" href="/stylesheets/signedin.css">
</head>
<header>
<center> <h1> Welcome to your homepage, <%= @user.name %></h1> </center>
</header>
<br><br>


<footer align="center">
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='logout'>
  <% end %>
</footer>

</right>
<div class="sidenav">
<center><h2> Dashboard: </h2>
<a href=""> View your classes</a> <br><br>
<a href=""> Add a class </a> <br><br></center>
</div>