<head>
<link rel="stylesheet"  type="text/css" href="/stylesheets/welcome.css">

</head>

<body>
<div id="wrapper">

<div class="dropdown">
  <button class="dropbtn">Sign Up / Log In</button>
  <div class="dropdown-content">
    <a href="/users/new">Sign Up</a>
    <a href="/login">Log In</a>
    <a href="/auth/facebook">Log in with Facebook</a>
  </div>
</div>

<div class="dropdown">
    <button class="dropbtn">About</button>
    <div class="dropdown-content">
    <a href="">Features</a>
    <a href="">How to invite parents</a>
    </div>
</div>


<br><br>

<div>
    <center>
    <img style='width: 300px' src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8c2Nob29sfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60">
    <h1>Virtual Learning Agenda Book App</h1>
    </center>
</div>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>
</body>
