<head>
<link rel="stylesheet"  type="text/css" href="/stylesheets/signedin.css">
</head>

    <h1> All Courses </h1>
        <% @courses.each do |course| %>
            <div><%= course.course_name %></div>
        <% end %>
