<head>
<link rel="stylesheet"  type="text/css" href="/stylesheets/signedin.css">
</head>

    <h1> All Courses </h1>
        <% @courses.each do |course| %>
            <div>
            <%= course.course_name %> - <a href="">View Assignments for this course</a><br><br>
            
            </div>
        <% end %>
