<head>
<link rel="stylesheet"  type="text/css" href="/stylesheets/signedin.css">
</head>
<h1>Your new course: </h1>
<h2> <%= @course.course_name %></h2>
<h4> <%= @course.teacher_name %></h4>

<a href="/courses">View all courses</a>
